@(signupForm: Form[User], toppingsSeq: Seq[String])(implicit messages: Messages)

@import helper._

@main(title = "Sign Up") {
    <h1> Make a new Account</h1></br>
        @helper.form(action = routes.Application.signupSubmit) {  
            @inputText(
                signupForm("username"), 
                '_label -> "Username",
                'class -> "form-control"
            )
            <br>        
            @inputPassword(
                signupForm("password"), 
                '_label -> "Password",
                'class -> "form-control"
            )

            @inputPassword(
                signupForm("password"), 
                '_label -> "Confirm Password",
                'class -> "form-control"
            )        
            <div id="toppings">
                @for(i <- 0 to (toppingsSeq.length-1)){
                    <br>
                    @select(
                       signupForm("toppings[" + i + "]"),
                       options("5" -> "Absolutely Delicious", "4" -> "Tasty" ,"3" -> "Indifferent" ,"2" -> "Dislike", "1" -> "Ewwww!"),
                       '_label -> toppingsSeq(i), '_default -> "-- Tastiness --",
                       'class -> "form-control"
                    )
                }  
            </div><br>
            <div class="actions">
                <div class="row">
                    <div class="col-lg-6">
                        <input type="submit" class="btn btn-success btn-block" value="Sign Up">
                    </div>
                    <div class="col-lg-6">
                        <a href="@routes.Application.index" class="btn btn-primary form-control">Cancel</a>
                    </div>
                </div>
            </div>
        }
}

<script>
    $("select").addClass("form-control");
    $("input").addClass("form-control");
</script>
